/* more */
.more {
  padding: 37px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(min-width: 768px) {
  .more {
    padding: 51px 0 78px;;
  }
}

@media(min-width: 1280px) {
  .more {
    padding: 51px 0 65px;;
  }
}

.more__button {
  width: 240px;
  height: 36px;
  border-radius: 6px;
  background: #F4F4F4;
  border: none;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--weight-medium);
  line-height: normal;
}

@media(min-width: 768px) {
  .more__button {
    width: 320px;
  }
}
