/* header */
.header {
  display: flex;
  padding: 18px 14px;
  justify-content: space-between;
  background-color: var(--background-color-gray);
  align-items: center;
}

.header_light {
  background-color: var(--background-color-main);
}

@media (min-width: 768px) {
  .header {
    padding: 18px 30px;
  }
}

@media (min-width: 1024px) {
  .header {
    justify-content: space-between;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 18px 70px;
  }
}

.header_log-reg {
  flex-direction: column;
  padding: 56px 0 80px;
  gap: 50px;
}

@media (min-width: 768px) {
  .header_log-reg {
    padding: 232px 0 40px;
    width: 51.5%;
    margin: 0 auto;
    align-items: flex-start;
    gap: 39px;
  }
}

@media (min-width: 1280px) {
  .header_log-reg {
    padding: 70px 0 40px;
    max-width: 396px;
  }
}

.header__hello {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: var(--weight-medium);
  line-height: normal;
}

@media (min-width: 768px) {
  .header__hello {
    text-align: start;
    margin: 0;
  }
}

.header__logo {
  background-image: url('../../images/logo.svg');
  width: 38px;
  height: 38px;
}

.header__links {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
}

/* @media (min-width: 1025px) {
  .header__links {
    display: none;
  }
} */

.header__link-wrap {
  margin-right: 14px;
}

@media (min-width: 768px) {
  .header__link-wrap {
    margin-right: 30px;
  }
}

.header__link-wrap:last-child {
  margin-right: 0;
}

.header__link-login {
  display: block;
  border-radius: 3px;
  background: var(--background-color-blue);
  color: var(--white);
  font-size: 10px;
  font-style: normal;
  font-weight: var(--weight-medium);
  line-height: 24px;
  border: none;
  width: 56px;
  height: 24px;
  text-decoration: none;
  text-align: center;
  transition: opacity 0.3s;
}

.header__link-login:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .header__link-login {
    width: 76px;
    height: 32px;
    font-size: 12px;
    line-height: 32px;
  }
}

.header__link-registration {
  color: var(--black);
  text-align: right;
  font-size: 10px;
  font-style: normal;
  font-weight: var(--weight-medium);
  text-decoration: none;
  transition: opacity 0.3s;
}

.header__link-registration:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .header__link-registration {
    font-size: 12px;
  }
}

.header__mobile-btn {
  right: 14px;
  top: 15px;
  width: 39px;
  height: 38px;
  background-image: url('../../images/burger.svg');
  display: block;
  cursor: pointer;
  background-repeat: no-repeat;
  border: none;
  background-color: var(--background-color-main);
}

@media (min-width: 768px) {
  .header__mobile-btn {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 33px;
    top: 9px;
    background-size: 50px;
  }
}

@media (min-width: 1024px) {
  .header__mobile-btn {
    display: none;
  }
}

.header__mobile-btn_grey {
  background-color: var(--background-color-gray);
}


.header__links-wrap-content {
  display: none;
}

@media (min-width: 1024px) {
  .header__links-wrap-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
}

.header__links-content {
  display: none;
}

@media (min-width: 1024px) {
  .header__links-content {
    display: flex;
    list-style: none;
    padding: 0 0 0 45px;
    margin: 0;
  }
}

.header__btn-account {
  display: none;
  text-decoration: none;
}

@media (min-width: 1024px) {
  .header__btn-account {
    width: 100px;
    height: 32px;
    border-radius: 50px;
    border: 2px solid rgba(170, 170, 170, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: var(--background-color-main);
    padding: 0;

  }
}

.header__txt-account {
  color: var(--black);
  font-size: 14px;
}

.header__txt-account::before {
  content: url('../../images/icon__COLOR_icon-main.svg');
  padding-right: 6px;
}

.header__link-content-wrap {
  margin-right: 16px;
}

.header__link-content-wrap:last-child {
  margin-right: 0;
}

.header__link-film {
  font-size: 13px;
  font-style: normal;
  font-weight: var(--weight-normal);
  line-height: 18px;
  text-decoration: none;
  color: var(--black);
}

.header__link-save-film {
  font-size: 13px;
  font-style: normal;
  font-weight: var(--weight-normal);
  line-height: 18px;
  text-decoration: none;
  color: var(--black);
}
