/* footer */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color-footer);
  color: var(--black);
  padding: 79px 0 20px;
}

@media (min-width: 1280px) {
  .footer {
    padding: 93px 0 20px;
  }
}

.footer_saved {
  padding: 203px 0 20px;
}

@media (min-width: 768px) {
  .footer_saved {
    padding: 217px 0 20px;
  }
}

.footer__caption {
  color: #A0A0A0;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--weight-normal);
  line-height: normal;
  border-bottom: 1px solid #A0A0A0;
  padding: 0 11px 21px;
  margin: 0;
}

@media (min-width: 768px) {
  .footer__caption {
    font-size: 13px;
    padding: 0 0 20px;
    min-width: 708px;
  }
}

@media (min-width: 1280px) {
  .footer__caption {
    min-width: 1140px;
  }
}

.footer__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__block {
    flex-direction: row-reverse;
    padding: 20px 0 0 0;
    justify-content: space-between;
    min-width: 708px;
  }
}

@media (min-width: 1280px) {
  .footer__block {
    min-width: 1140px;
  }
}

.footer__links {
  margin: 0;
  padding: 28px 0 0 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__links {
    flex-direction: row;
    padding: 0;
    gap: 20px;
  }
}

.footer__link-wrap {}

.footer__link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--black);
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer__link {
    font-size: 13px;
  }
}

.footer__copyright {
  color: #A0A0A0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-top: 30px;
}

@media (min-width: 768px) {
  .footer__copyright {
    flex-direction: row;
    padding: 0;
    color: var(--black);
    font-size: 13px;
  }
}
