
/* registration */

.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 81%;
  margin: 0 auto;
}

@media(min-width: 768px) {
  .registration {
    width: 51.5%;
  }
}

@media (min-width: 1280px) {
  .registration {
    max-width: 396px;
  }
}

.registration__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.registration__field-wrap {
  padding-bottom: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.registration__field-wrap:last-of-type {
  padding-bottom: 222px;
}

.registration__field-wrap_login:last-of-type {
  padding-bottom: 292px;
}

@media(min-width: 768px) {
  .registration__field-wrap:last-of-type {
    padding-bottom: 134px;
  }
}

@media(min-width: 768px) {
  .registration__field-wrap_login:last-of-type {
    padding-bottom: 204px;
  }
}

.registration__label {
  color: #A0A0A0;
  font-size: 10px;
  font-style: normal;
  font-weight: var(--weight-normal);
  line-height: normal;
  padding-bottom: 5px;
}

.registration__field {
  border: none;
  border-bottom: 1px solid #E8E8E8;
  background-color: var(--background-color-main);
  padding: 0 0 10px 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.registration__field::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.registration__field-error {
  color: #EE3465;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
}

.registration__save {
  width: 260px;
  height: 45px;
  border-radius: 3px;
  background-color: #3456F3;
  border: 0;
  color: var(--white);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--weight-medium);
  line-height: normal;
  margin: 0 auto;
}

.registration__save:disabled {
  background-color: rgb(158, 156, 156);
  color: #C2C2C2;
  pointer-events: none;
}

.registration__save-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

@media(min-width: 768px) {
  .registration__save {
    margin: 0 auto;
    width: 396px;
    height: 45px;
    font-size: 14px;
  }
}

.registration__subtitle {
  color: #A0A0A0;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px;
  padding-top: 14px;
  margin: 0;
}

@media(min-width: 768px) {
  .registration__subtitle {
    font-size: 14px;
    padding-bottom: 232px;
    padding-top: 16px;
  }
}

@media(min-width: 1280px) {
  .registration__subtitle {
    padding-bottom: 70px;
  }
}

.registration__sign-link {
  color: #3456F3;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  padding-left: 5px;
}

.registration__sign-link:hover {
  opacity: 0.7;
}

@media(min-width: 768px) {
  .registration__sign-link {
    font-size: 14px;
  }
}
